.container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #aebeb6;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .label {
    display: block;
    margin: 10px 0;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #252525;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .savings {
    margin-top: 20px;
    text-align: center;
  }
  